{% extends "www/base.html" %}

{% block content %}

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
              <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Your Home. Your Tech. Your Privacy.</h1>
              </div>
              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="" method="post">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mbmd-0">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{ email_form|crispy }}
                        </div>
                        <div class="col-12 col-md-3">
                            <input type="submit" class="btn btn-block btn-primary" name="action" value="Sign up!">
                        </div>
                    </div>
                    <!-- <div class="form-row">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                    </div> -->

                    <!-- <input type="submit" value="Sign up!"> -->
                </form>
              </div>
          </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center" id="overview">
        <div class="container">
          <div class="row align-items-end justify-content-center">
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div>
                  {% load static %}
                  <img src="{% static "www/logos.png" %}" class="img-fluid icon-img">
                </div>
                <h3 class="icon-title">Control Your Home</h3>
                <p class="lead mb-0">Control your entire home through one synchronized platform</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="material-icons md-36 center-icon">device_hub</i>
                </div>
                <h3>Easy to Use</h3>
                <p class="lead mb-0">Engage through smartphone, tablet, or AI voice recognition</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="material-icons md-36 center-icon">lock</i>
                </div>
                <h3>Protect Your Privacy</h3>
                <p class="lead mb-0">Protect your home and loved ones from smart device data breaches</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
<main class="container showcase">
    <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 showcase-img">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h1>Your Home. Smarter.</h1>
            <p class="lead mb-0">CEREB is a technology company that provides a software platform designed to completely automate your entire home. It connects to all of your smart devices and gives you a way to effortlessly control your home life.</p>
        </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 showcase-img">
          <img src="https://decoholic.org/wp-content/uploads/2016/05/nordic-modern-gray-home.jpg" class="img-fluid">
      </div>
      <div class="col-lg-6 order-lg-2 my-auto showcase-text">
          <h1>Enjoy More. Spend Less. Waste Less.</h1>
          <p class="lead mb-0">CEREB automatically monitors inactivity and energy usage to optimize efficiency and reduce cost.</p>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 showcase-img">
            <img src="https://www.thebalance.com/thmb/bqVNeG0tgjJFdJIaUyZMjsejPHM=/2121x1414/filters:fill(auto,1)/AmericanHomeHomeWarranty-8f192593b20848d6a8427517e4cac401.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h1>Protect Your Data.</h1>
            <p class="lead mb-0">CEREB actively monitors IoT activity in order to alert you to suspicious behavior like breaches or data being sent to unapproved IP addresses.</p>
        </div>
    </div>

    {% include "www/formblock.html" %}
<!-- 
    <div class="row align-items-center" id="team">
        <div class="col col-sm-6 col-md-6 row-m-t">
            <p>World class team</p>
        </div>
    </div> -->

</main>

{% endblock content %}
